name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: github-cicd-webapp
        run: npm install

      - name: Run tests
        working-directory: github-cicd-webapp
        run: npm test

  docker-build-deploy:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        # run: docker build -t chandana009/webapp-ci-cd:latest .
        # run: docker build -t chandana009/webapp-ci-cd:latest ./github-cicd-webapp
        run: docker build -f github-cicd-webapp/Dockerfile -t chandana009/webapp-ci-cd:latest .

      - name: Push Docker image
        run: docker push chandana009/webapp-ci-cd:latest
